html, body{
    background-color: #154733;
    max-height: 800px;
}

.head{ grid-area: h; }
.department{ grid-area: de; }
.division{ grid-area: di; }
.chat{ grid-area: c; }
.foot{ grid-area: f; }

.grid-container{
    display: grid;
    grid-template-areas: 
        'de di h h h h h h'
        'de di c c c c c c'
        'de di f f f f f f';
    grid-gap: 5px;
    background-color: #154733;
    padding: 5px;
    grid-template-rows: 60px 1fr 60px;
}

.grid-container > div{
    background-color: #FEE123;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
}

#de, #di{
    height: 95vh;
}

#c{
    /*overflow-y: scroll;
    height: 1fr;*/
    overflow: auto;
    height: 72vh;
}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style time text */
.timestamp {
  float: right;
  color: #aaa;
}

.username {
  float: left;
  color: #999;
}

#message{
    border-radius: 5px;
    padding: 10px;
    max-width: 500px;
    width: 100%;
}

#send{
    border-radius: 5px;
    padding: 10px;
    background-color: lightgreen;
    border-color: lightyellow;
    font-size: 15px;
    width: 175px;
}